[packages]
gunicorn = "*"
flask = "*"
requests = "*"
opencv-python = "*"
opencv-contrib-python = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
bs4 = "*"

[requires]
python_version = "3.6"
