@font-face { font-family: EnterTheGrid; src: url('enter-the-grid.ttf'); }
@font-face { font-family: renner; src: url('renner.ttf'); } 

body{
    height:100%;
    background-attachment:fixed;
    background-image: linear-gradient(top #000 #999);
    background-image: -moz-linear-gradient(top, #000, #666);
    background-image: -ms-linear-gradient(top, #000, #666);
    background-image: -o-linear-gradient(top, #000, #666);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#555));
}

body, span, a, input {
  font-family: renner, trebuchet ms;
}

a, a:visited{
	color: #002db1;
	text-decoration: none
}

a:hover{
	text-decoration: underline
}

.container {
    max-width: 1000px;
    width: 80%;
    padding-bottom: 50px;
    min-height: 800px;
    background: #cccccc;
    margin: 40px auto 40px auto;
    border-radius: 50px;
    border: 2px solid black
}

.header{
    max-width:100%;
    height: auto;
}

.header img{
    max-width:100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 48px 48px 0px 0px;
    border-radius: 48px 48px 0px 0px; 
}

div.content {
    width: 80%;
    margin: auto
}

div.content p, div.content li{
    font-size: 19px
}

.togglenav {
    display: block;
    position: fixed;
    top: 220px;
    left: 5%;
    width: 100px;
    height:100px;
    background: url(../imgs/logo_small.png);
    background-size:100px;
    border: 0
}

.togglenav:hover{
	cursor: pointer
}

ul.horiz_menu, ul.horiz_menu li {
   margin:0;
   padding: 0;
   text-indent: 0;
   overflow: hidden
}

ul.horiz_menu li {
    display: inline;
    padding-right: 20px
}

ul.horiz_menu li div {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    text-align: center
}

.clicked{
    background-color: white;
}

.not_clicked{
    background-color: #bcbcbc;
}

ul.horiz_menu li div#method_a:hover, ul.horiz_menu li div#result_a:hover{
    background: white;
    -webkit-transition: background 0.3s ease-out;  
    -moz-transition: background 0.3s ease-out;  
    -o-transition: background 0.3s ease-out;  
    transition: background 0.3s ease-out; 
}

ul.horiz_menu li a, ul.horiz_menu li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
	font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#circle_nav {
  width:260px;
  height:260px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 1000;
  display: none
}


#circle_try {
  position: relative;
  display: block;
  width:170px;
  height:170px;
  top: -475px;
  left: 45px;
  line-height: 170px;
  text-align: center;
  z-index:9
}

#circle_try a, #circle_try a:visited{
  display:block;
  border-radius:50%;
  width: 170px;
  background: white;
  text-decoration: none;
}

#circle_try span{  
  font-family: EnterTheGrid, impact;
  font-style: italic;
  font-size: 50px;
  color: red
}

#circle_try a:hover{
    background: #ffcc66;
    -webkit-transition: background 0.5s ease-out;  
    -moz-transition: background 0.5s ease-out;  
    -o-transition: background 0.5s ease-out;  
    transition: background 0.5s ease-out; 
}


#circle_nav ul, #circle_nav ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   overflow: hidden
}

#circle_nav li a,#circle_nav li a:visited{
  display: block;
  width: 130px;
  height: 130px;
  background: #262626;
  color: white;
  font-size: 19px
}

#circle_nav a.clickable:hover{
  background: #666666;
}

#circle_nav ul li a span{
  display: block;
  position: fixed;
}

#circle_nav ul li {
  position: relative;
  display: block
}

#circle_nav ul li:first-child a span{  
  padding-top:53px;
  padding-left: 7px;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);
}

#circle_nav ul li:nth-child(2) a span{
  padding-top:23px;
  padding-left:63px;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
}


/* set circle */

#circle_nav ul li:first-child a{
  border-radius: 130px 0 0 0;
}
#circle_nav ul li:nth-child(2){
  left: 130px;
  top: -130px;
  text-align: center
}
#circle_nav ul li:nth-child(2) a{
  border-radius: 0 130px 0 0;
}
#circle_nav ul li:nth-child(3){
  left: 130px;
  top: -130px
}
#circle_nav ul li:nth-child(3) a{
  border-radius: 0 0 130px 0;
}
#circle_nav ul li:nth-child(4){
  top: -260px
}
#circle_nav ul li:nth-child(4) a{
  border-radius: 0 0 0 130px;
}

button:focus { outline-style: none; }

table.try_preview td{
    padding: 10px
}

.try_preview a, .try_preview a:visited {
    background: white;
    display: block;
    height: 225px;
    width: 300px;
}

.try_preview img {
    width: 300px;
    transition: .3s ease;
}

.try_preview img:hover {
    opacity: 0.5
}


div#ocr_text{
    width: 100%;
    color: white;
    margin: auto;
}

div#ocr_text p {
    padding: 13px;
    font-size: 15px;
    font-family: consolas, monospace;
    border: 2px solid #05bc00;
    background: black;
}

div#ocr_text span{
    font-family: consolas, monospace;
    color: red
}

table.scrap_results {
    width: 100%;
    background: black;
    border: 2px solid black;
}

table.scrap_results img{
    height: 70px
}

table.scrap_results td{
    padding: 4px;
    background: white;
    font-size: 20px
}

td.aa {
    text-align: center;
}

td.cc {
    width: 90px
}

table.scrap_results tr:first-child td {
    border-bottom: 1px solid black;
}

/* correzioni schermi piccoli e mobile */

@media screen and (max-width: 800px){
    .container{
        width: 100%
    }
    div.content {
    width: 95%;
    margin: auto
}
}