@font-face { font-family: EnterTheGrid; src: url('enter-the-grid.ttf'); }
@font-face { font-family: renner; src: url('renner.ttf'); } 

body{
    height:100%;
    background-attachment:fixed;
    background-image: linear-gradient(top #000 #999);
    background-image: -moz-linear-gradient(top, #000, #666);
    background-image: -ms-linear-gradient(top, #000, #666);
    background-image: -o-linear-gradient(top, #000, #666);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#555));
}

body, span, a, input {
  font-family: renner, trebuchet ms;
}

 

.container {
    max-width: 1000px;
    width: 80%;
    height: 800px;
    background: #838383;
    margin: 40px auto 40px auto;
    border-radius: 50px;
    border: 2px solid black
}

.header{
    max-width:100%;
    height: auto;
}

.header img{
    max-width:100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 45px 45px 0px 0px;
    border-radius: 45px 45px 0px 0px; 
}

.togglenav {
    display: block;
    position: fixed;
    top: 220px;
    left: 5%;
    width: 100px;
    height:100px;
    background: url(../imgs/logo_small.png);
    background-size:100px;
    border: 0
}

#circle_nav {
  width:260px;
  height:260px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 0;
  display: none
}


#circle_try {
  position: relative;
  display: block;
  width:170px;
  height:170px;
  top: -475px;
  left: 45px;
  line-height: 170px;
  text-align: center;
  z-index:9
}

#circle_try a{
  display:block;
  border-radius:50%;
  width: 170px;
  background: white;
  text-decoration: none;
}

#circle_try span{  
  font-family: EnterTheGrid, impact;
  font-style: italic;
  font-size: 40px;
  color: red
}

#circle_try a:hover{
    background: #ffcc66;
    -webkit-transition: background 0.5s ease-out;  
    -moz-transition: background 0.5s ease-out;  
    -o-transition: background 0.5s ease-out;  
    transition: background 0.5s ease-out; 
}


ul, ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   overflow: hidden
}

#circle_nav li a{
  display: block;
  width: 130px;
  height: 130px;
  background: #262626;
  color: white;
  font-size: 19px
}

#circle_nav a.clickable:hover{
  background: #666666;
}

#circle_nav ul li a span{
  display: block;
  position: fixed;
}

#circle_nav ul li {
  position: relative;
  display: block
}

#circle_nav ul li:first-child a span{  
  padding-top:55px;
  padding-left: 10px;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);
}

#circle_nav ul li:nth-child(2) a span{
  padding-top:23px;
  padding-left:63px;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
}


/* set circle */

#circle_nav ul li:first-child a{
  border-radius: 130px 0 0 0;
}
#circle_nav ul li:nth-child(2){
  left: 130px;
  top: -130px;
  text-align: center
}
#circle_nav ul li:nth-child(2) a{
  border-radius: 0 130px 0 0;
}
#circle_nav ul li:nth-child(3){
  left: 130px;
  top: -130px
}
#circle_nav ul li:nth-child(3) a{
  border-radius: 0 0 130px 0;
}
#circle_nav ul li:nth-child(4){
  top: -260px
}
#circle_nav ul li:nth-child(4) a{
  border-radius: 0 0 0 130px;
}

button:focus { outline-style: none; }

.try_preview a {
    background: white;
    display: block;
    height: 225px;
    width: 300px;
}

.try_preview img {
    width: 300px;
    transition: .3s ease;
}

.try_preview img:hover {
    opacity: 0.5
}

/* correzioni schermi piccoli e mobile */

@media screen and (max-width: 800px){
    .container{
        width: 100%
    }
}