<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TR - Results</title>
  <link rel="icon" sizes="16x16" type="image/png" href="{{ url_for('static', filename='imgs/icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/togglemenu.js') }}"></script>
</head>
<body>


<button onclick='ToggleNav()' class='togglenav'>
</button>


<div id='circle_nav'>
  <ul>
  <li><a href="{{ url_for('method')}}" class='clickable'><span>Method</span></a></li>
  <li><a href="{{ url_for('author')}}" class='clickable'><span>Author</span></a></li>
  <li><a></a></li>
  <li><a></a></li>
  </ul>
  <div id='circle_try'>
  <a href="{{ url_for('try__')}}"><span>TRY</span></a>
  </div>
</div>

<div class='container'>
  <div class='header'>
  <a href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/header.png') }}"></a>
  </div>
  
  
<div class='content'>

<h1>About the author</h1>

<p>I'm Fabio Marigo from Pavia (Italy), I'm a Statistician and I'm studying "Statistics and Data Science" at the <a href='https://www.unimib.it/' target='_blank'>University of Milano-Bicocca</a>. I wrote the entire application's code and made this website, and I have to thank a lot Gabriele Minniti, Nina Desgranges, Riccardo Lorenzon and Tommaso Guerrini for helping me to finalize my Capstone project.</p>

<h2>Contacts</h2>
<table style='font-size: 18px;'>
<tr>
<td width='50px'><img src="{{ url_for('static', filename='imgs/mail.png') }}"></td>
<td width='90px'>E-mail</td>
<td>fabio.marigo@outlook.it</td>
</tr>
<tr>
<td><img src="{{ url_for('static', filename='imgs/git.png') }}"></td>
<td>Github</td>
<td><a href='https://github.com/fabiomarigo7/' target='_blank'>https://github.com/fabiomarigo7/</a></td>
</tr>
<tr>
<td><img src="{{ url_for('static', filename='imgs/telegram.png') }}"></td>
<td>Telegram</td>
<td>fabian_29</td>
</tr>
<tr>
<td><img src="{{ url_for('static', filename='imgs/discord.png') }}"></td>
<td>Discord</td>
<td>fabian#7353</td>
</tr>
</table>


</div>
</div>


</body>
</html>