<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TR - Homepage</title>
  <link rel="icon" sizes="16x16" type="image/png" href="{{ url_for('static', filename='imgs/icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/togglemenu.js') }}"></script>
</head>
<body>


<button onclick='ToggleNav()' class='togglenav'>
</button>


<div id='circle_nav'>
  <ul>
  <li><a href="{{ url_for('method')}}" class='clickable'><span>Method</span></a></li>
  <li><a href="{{ url_for('author')}}" class='clickable'><span>Author</span></a></li>
  <li><a></a></li>
  <li><a></a></li>
  </ul>
  <div id='circle_try'>
  <a href="{{ url_for('try__')}}"><span>TRY</span></a>
  </div>
</div>

<div class='container'>
  <div class='header'>
  <a href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/header.png') }}"></a>
  </div>
  
<div class='content'>  
<h1>Overview</h1>
<p>This project aims to create an useful application which detects brand and size of any car tyre with machine learning algorithms. The application developed here is a prototype; the final version will be created for mobile devices like smartphones or tablets.</p>
<img src="{{ url_for('static', filename='imgs/app.png') }}" style='width:500px;max-width:100%'>
<h2>Purpose</h2>
<p>The goal of this app is to provide an userful service to users. The main goals are:
<ul>
<li>B2C side: the application detects and reads the informations from the tyre and will give to the user an estimate of the price of that kind of tyre.  Alternatively, it will extract a price range or give the cheapest and the most expensive tyres with those features.</li>
<li>B2B side: the application allows to the mechanic or the tyre repairer to know if in the warehouse there are stocks of that tyre. In order to make this, the app should be connected to a database. If necessary, the user can note the absence of stocks, or make an order.</li>
</ul>
</p>
<h2>Techniques</h2>
<p>
The code was written entirely with Python; in this project I used techniques, algorithms and functions that will be explained shortly below and more in detail in the <a href="{{ url_for('method')}}">Method section</a>. For simplicity, I considered in the project only 4 brands: Bridgestone, Continental, Michelin and Pirelli.
<ul>
<li>At the beginning the application reads the image and looks for circles, in order to find the tyre's center. Then, it straightens the tyre into a rectangle. To make this, I used <a href='https://opencv.org/' target='_blank'>OpenCV</a> functions;</li>
<li>In order to establish the brand name, the straighted tyre is given as input to a neural network classifier;</li>
<li>After that, I found the size with the help of the Google OCR;</li>
<li>Finally, with scraping-techniques I got informations from the site <a href='https://www.gommadiretto.it/' target='_blank'>GommaDiretto.it</a> about the cheapest and the most expensive tyres with the features found before.</li>
</ul>
</p>
<h2>To start and to try the app, click on the TR logo on the left!</h2>


</div>
</div>


</body>
</html>