<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TR - Try</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
  <script src="{{ url_for('static', filename='js/togglemenu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"></script>
</head>
<body>


<button onclick='ToggleNav()' class='togglenav'>
</button>


<div id='circle_nav'>
  <ul>
  <li><a href="{{ url_for('about')}}" class='clickable'><span>About</span></a></li>
  <li><a href="{{ url_for('results')}}" class='clickable'><span>Results</span></a></li>
  <li><a></a></li>
  <li><a></a></li>
  </ul>
  <div id='circle_try'>
  <a href="{{ url_for('try__')}}"><span>TRY</span></a>
  </div>
</div>

<div class='container'>
  <div class='header'>
  <a href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/header.png') }}"></a>
  </div>
  
  
{% if preview %}  
<table class='try_preview' style='margin:auto'>
<tr>
<td> 1) Bridgestone <br> <a href="{{ url_for('bridgestone')}}"><img src="{{ url_for('static', filename='imgs/bridgestone_example_th.jpg') }}"></a> </td>
<td> 2) Continental <br> <a href="{{ url_for('continental')}}"><img src="{{ url_for('static', filename='imgs/continental_example_th.jpg') }}"></a> </td>
</tr>
<tr>
<td> 3) Michelin <br> <a href="{{ url_for('michelin')}}"><img src="{{ url_for('static', filename='imgs/michelin_example_th.jpg') }}"></a> </td>
<td> 4) Pirelli <br> <a href="{{ url_for('pirelli')}}"><img src="{{ url_for('static', filename='imgs/pirelli_example_th.jpg') }}"></a> </td>
</tr>
</table>
{% endif %}
  
  
  
  
  <!-- ------------- UPLOAD IMAGE ------------- -->


<table style='margin:auto'>
    <tr>
    <td>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file"">Choose image:</span> 
            <input type="button" id="upload_button" value="Browse" onclick="UploadToggle()"/>
            <input type="file" style="display:none;" id="upload_button_hidden" name="image" />
            <input type="submit" value="Analyze" id="analize_button" style="display:none">
            {% if enabledl %}
            <label><input type="checkbox" name="enabledownload" style="display:none" />Enable Download</label>
            {% endif %}
        </form>    
    </td>
    <td style='padding-left:30px'> 
        <form action="/retry" method="get">
            <input type="submit" value="Retry">
        </form>
    </td>
    </tr>
</table>
<br>

<!-- ------------- STEP 1 ------------- -->

{% if init %}
<script type="text/javascript">
  jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function clearCoords()
  {
    $('#coords input').val('');
  };
</script>

<table style='margin:auto'>
<tr>
<td>
<img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>
<tr>
<td>
<form action="/crop_step1" id="coords" class="coords" method="post">
    <div class="inline-labels">
        <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
        <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
        <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
        <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
        <label>W <input type="text" size="4" id="w" name="w" /></label>
        <label>H <input type="text" size="4" id="h" name="h" /></label>
    </div>    
    <input type="submit" value="Next step">
</form>
</td>
</tr>
</table>
{% endif %}

<!-- ------------- STEP 2 ------------- -->


{% if crop1 %}
<script type="text/javascript">
    jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

    });

    // Simple event handler, called from onChange and onSelect
    // event handlers, as per the Jcrop invocation above
    function showCoords(c)
    {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
    };

    function clearCoords()
    {
    $('#coords input').val('');
    };
</script>
        
<table style='margin:auto'>
<tr>
<td>
<img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>        
<tr>
<td>     
<form action="/crop_step2" id="coords" class="coords" method="post">
    <div class="inline-labels">
        <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
        <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
        <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
        <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
        <label>W <input type="text" size="4" id="w" name="w" /></label>
        <label>H <input type="text" size="4" id="h" name="h" /></label>
    </div>
    <input type="submit" value="Crop and predict">
</form>
</td>
</tr>
</table>
{% endif %}
 
<!-- ------------- FINAL STEP ------------- -->

{% if crop2 %}        
<table style='margin:auto'>
<tr>
<td style="max-width: 800px; white-space:nowrap; overflow:auto">
    <img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>        
<tr>
<td>
<br>
<h1>Your prediction is: {{pred}}, probability = {{prob}}</h1><br>    
    {% if downloadenabled %}   
    <form action="/download" method="post"> <!-- or method="post" -->
        <br>
        <input type="submit" value="Download">
        <input type='text' value='{{ pred }}' name='downloadname'>
    </form>
    <form action="/download_90" method="post"> <!-- or method="post" -->
        <br>
        <input type="submit" value="Download 2">
        <input type='text' value='{{ pred }}' name='downloadname_90'>
    </form>
    {% endif %}
</td>
</tr>
</table>
{% endif %}
  
  

  
</div>


</body>
</html>