<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TR - Try</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
  <script src="{{ url_for('static', filename='js/togglemenu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"></script>
</head>
<body>


<button onclick='ToggleNav()' class='togglenav'>
</button>


<div id='circle_nav'>
  <ul>
  <li><a href="{{ url_for('method')}}" class='clickable'><span>Method</span></a></li>
  <li><a href="{{ url_for('author')}}" class='clickable'><span>Author</span></a></li>
  <li><a></a></li>
  <li><a></a></li>
  </ul>
  <div id='circle_try'>
  <a href="{{ url_for('try__')}}"><span>TRY</span></a>
  </div>
</div>

<div class='container'>
  <div class='header'>
  <a href="{{ url_for('homepage')}}"><img src="{{ url_for('static', filename='imgs/header.png') }}"></a>
  </div>
  
<div class='content'>

<h1>Try the app</h1>

<!-- ------------- UPLOAD IMAGE and INITIALIZE ------------- -->
{% if preview %}  
<p>In this section, you can test the application and download the output at the end of the process. You can choose to use one of the images below, or upload an image by yourself.</p>
<p>The OCR step isn't fully implemented yet. You can download the final image and submit it to the Google OCR test for free, to test its ability to read the tyre size. Anyways, you can execute all the process writing by hand the inputs at the last step, before the scraping process.</p>
<h2>Examples</h2>
<table class='try_preview'>
<tr>
<td> 1) Bridgestone <br> <a href="{{ url_for('bridgestone')}}"><img src="{{ url_for('static', filename='imgs/bridgestone_example_th.jpg') }}"></a> </td>
<td> 2) Continental <br> <a href="{{ url_for('continental')}}"><img src="{{ url_for('static', filename='imgs/continental_example_th.jpg') }}"></a> </td>
</tr>
<tr>
<td> 3) Michelin <br> <a href="{{ url_for('michelin')}}"><img src="{{ url_for('static', filename='imgs/michelin_example_th.jpg') }}"></a> </td>
<td> 4) Pirelli <br> <a href="{{ url_for('pirelli')}}"><img src="{{ url_for('static', filename='imgs/pirelli_example_th.jpg') }}"></a> </td>
</tr>
</table>
<br>
<h2>Upload</h2>
<table>
    <tr>
    <td>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file"">Choose image:</span> 
            <input type="button" id="upload_button" value="Browse" onclick="UploadToggle()"/>
            <input type="file" style="display:none;" id="upload_button_hidden" name="image" />
            <input type="submit" value="Analyze" id="analize_button" style="display:none">
            {% if enabledl %}
            <label><input type="checkbox" name="enabledownload" />Enable Download</label>
            {% endif %}
        </form>    
    </td>
    </tr>
</table>
{% endif %}

<!-- ------------- STEP 1 ------------- -->
{% if init %}
<script type="text/javascript">
  jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function clearCoords()
  {
    $('#coords input').val('');
  };
</script>

<h2>First step: find the tyre</h2>
<table>
<tr>
<td>
<img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>
<tr>
<td>
<br>
<form action="/crop_step1" id="coords" class="coords" method="post">
    <div class="inline-labels">
        <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
        <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
        <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
        <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
        <label>W <input type="text" size="4" id="w" name="w" /></label>
        <label>H <input type="text" size="4" id="h" name="h" /></label>
    </div>    
    <input type="submit" value="Next step">
</form>
<br>
<form action="/retry" method="get">
<input type="submit" value="Retry">
</form>
</td>
</tr>
</table>
{% endif %}

<!-- ------------- STEP 2 ------------- -->
{% if crop1 %}

<script type="text/javascript">
    jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

    });

    // Simple event handler, called from onChange and onSelect
    // event handlers, as per the Jcrop invocation above
    function showCoords(c)
    {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
    };

    function clearCoords()
    {
    $('#coords input').val('');
    };
</script>

<h2>Second step: keep the essential</h2>    
<table>
<tr>
<td>
<img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>        
<tr>
<td>
<br>     
<form action="/crop_step2" id="coords" class="coords" method="post">
    <div class="inline-labels">
        <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
        <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
        <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
        <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
        <label>W <input type="text" size="4" id="w" name="w" /></label>
        <label>H <input type="text" size="4" id="h" name="h" /></label>
    </div>
    <input type="submit" value="Crop and predict">
</form>
<br>
<form action="/retry" method="get">
<input type="submit" value="Retry">
</form>
</td>
</tr>
</table>
{% endif %}
 
<!-- ------------- FINAL STEP ------------- -->

{% if crop2 %}
<h2>Third step: check the results</h2>


<table style="max-width:100%">
<tr>
<td style="max-width: 600px; white-space:nowrap; overflow:auto">
    <img src="{{ url_for('send_file', filename=filename) }}" id='target'>
</td>
</tr>
</table>
<br>
<p>Your prediction is: <span style="background: red; color:white">{{pred}}</span>, probability = {{prob}}</p>
        
    {% if downloadenabled %}   
    <table>
    <tr>
    <td>
    <form action="/download" method="post"> <!-- or method="post" -->
        <input type="submit" value="Download">
        <input type='text' value='{{ pred }}' name='downloadname'>
    </form>
    </td>
    <td>
    <form action="/download_90" method="post" style="padding-left:20px"> <!-- or method="post" -->
        <input type="submit" value="Download 2">
        <input type='text' value='{{ pred }}' name='downloadname_90'>
    </form>
    </td>
    </tr>
    </table>
    {% endif %}

<!-- ------------- OCR ------------- -->

{% if OCR %}
<h2>Output of Google OCR</h2>
<div id='ocr_text'>
{{ ocr_text|safe }}
</div>
{% endif %}

<h2>Submit values and get prices</h2>
<form action='/scraping' method='post'>
<input type='text' value='{{ marca }}' name='marchio'>
<input type='text' value='{{ param1 }}' name='param1'>
<input type='text' value='{{ param2 }}' name='param2'>
<input type='text' value='{{ param3 }}' name='param3'>
<input type="submit" value="Get Prices">
</form>
<br>
<form action="/retry" method="get">
<input type="submit" value="Retry">
</form>
{% endif %}

<!-- ------------- SCRAPING ------------- -->

{% if scrap_area %}
<h2>Last step: tyre prices from <a href='https://www.gommadiretto.it/'>GommaDiretto.it</a></h2>
<p>You can check below the cheapest and the most expensive tyres with brand and size found in the previous steps.</p>
<table class='scrap_results' cellspacing='0'>
<tr>
<td class='aa'><img src='{{img1}}'></td>
<td class='bb'><a href='{{url1}}' target='_blank'>{{nome1}}</a></td>
<td class='cc'>{{prezzo1}}</td>
</tr>
<tr>
<td class='aa'><img src='{{img2}}'></td>
<td class='bb'><a href='{{url2}}' target='_blank'>{{nome2}}</a></td>
<td class='cc'>{{prezzo2}}</td>
</tr>
</table>
<br>
<form action="/retry" method="get">
<input type="submit" value="Retry">
</form>
{% endif %}

</div>
</div>


</body>
</html>